[Desktop Entry]
Version=1.0
Type=Application
Name=BirdLog Dashboard
Comment=Consulta y edita los datos de fauna en BirdLog
Exec=gnome-terminal -- /home/hermes/Documentos/BirdLog/scripts/abrir_dashboard.sh
Path=/home/hermes/Documentos/BirdLog
Icon=utilities-terminal
Terminal=false
Categories=Science;Education;
StartupNotify=false
